#banner {
    background-image: url(img/banner\ farmacia.jpg);
    background-size: cover;
    background-position: center;
    height: 25%;
    box-shadow:inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-banner, div h2{
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}

.card-banner h1{
    color:#FFF;
    font-size: 4vw;
}
.card-banner h2{
    color: rgb(7, 250, 7);
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

nav{
    background-color: #006400;
    margin: auto;
    font-size: 16px;
}

.navbar-brand{
    padding-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.menu-horizontal{
    list-style: none;
    display: flex;
   font-weight: bolder;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover{
background-color:limegreen;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color:limegreen;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
    width: auto;
}

.menu-vertical li:hover{
    background-color: lightgreen;
    color: white;
    text-decoration: none;
}

.menu-vertical li a{
    display: block;
    color: black;
    text-decoration: none;
    margin-right:20px;
}

/* Estilos personalizados para el carrusel */
.carousel {
    max-width: 300px; /* Máximo ancho del carrusel */
    margin: 0 auto; /* Centrar horizontalmente */
  }
  .carousel-item img {
    max-width: 100%; /* Máximo ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    
  }

  .carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el ancho según sea necesario */
  top: 50%; /* Alinea verticalmente al centro */
}

/* Estilos para el contenedor */
.fondo-color {
    background-color:#198754;
    padding: 20px;
    height: 300px;
    max-width: 100%;
    margin: 0 auto; /* Centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
  }
  
  
  
  img {

    height: 250px;
    
    width: 250px;
    
    object-fit: cover;
    border: forestgreen;
    border-style: hidden;
    border-radius: 10%;
    padding: 10px;

      
  }
  .footer{
    background-color:#198754;
    padding: auto;
    margin-top: 20px;
    color: white;
    height: 50px;
    justify-content: center
    align-items: center;
  }

/*Estilos para formulario de contacto*/

.contacto-body {
    background: #198754;
    margin: 0;
}

.contacto-form {
    width: 340px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.contacto-h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

.contacto-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

.contacto-input:focus {
    border-bottom: 2px solid #78788c;
}

.contacto-label:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

.contacto-button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

.contacto-button:hover {
    background: #78788c;
    color: #fff;
}

.contacto-div {
    content: 'Hi';
    position: absolute;
    bottom: -45px;
    right: -40px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}

.contacto-span {
    margin: 0 7px 0 15px;
}
 

  

  
    

  
    

    
    
